* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

}

.button-home {
    position: fixed;
    z-index: 10;
    top: 40px;
    left: 50px;
}

.button-home:hover .button-home-img {
    box-shadow: 0 0 12px #000000;
}

.button-home-img {
    max-width: 7em;
    border-radius: 20%;
    box-shadow: 0 0 10px #b8b5b5;
}

.titulo {
    max-width: 1000px;
    flex: 1;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

h1 {
    text-align: center;
}

.integrantes {
    text-align: center;
    max-width: 1000px;
    flex: 1;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container {
    max-width: 1000px;
    flex: 1;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.persona {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}