@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(to right top, #f7e849, #ffcb36, #ffad30, #ff8f34, #ff703e);
}

a {
    text-decoration: none;
    color: black;
}

nav {
    background-color: #333; /* Color de fondo */
    padding: 10px; /* Espaciado interno */
}

nav ul {
    list-style-type: none; /* Quita los marcadores de lista */
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline; /* Los elementos de lista se muestran en línea */
    margin-right: 20px; /* Espaciado entre elementos de lista */
}

nav ul li a {
    text-decoration: none; /* Quita la decoración de texto */
    color: #fff; /* Color del texto */
    font-weight: bold; /* Fuente en negrita */
}

nav ul li a:hover {
    color: #ffc107; /* Cambia el color del texto al pasar el ratón */
}

.button-home {
    position: fixed;
    top: 80px;
    left: 50px;
    width: 80vw;
    margin: 0 auto;
}

.btn {
    flex: 1 1 auto;
    margin: 10px;
    padding: 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
}

.btn:hover {
    background-position: right center;
}

.titulo {
    max-width: 1000px;
    flex: 1;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.integrantes {
    text-align: center;
    max-width: 1000px;
    flex: 1;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container {
    max-width: 1000px;
    flex: 1;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.container-principal {
    max-width: 1000px;
    flex: 1;
    margin: auto;
}

.cont-persona {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    border-radius: 10%;
    box-shadow: 0 0 10px #b8b5b5;
    transition: 0.5s;
    background-size: 200% auto;
    background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
}

.cont-persona:hover {
    background-position: right center;
}

.descripcion-principal {
    text-align: center;
}